<div id="player-list" hx-swap-oob="true">
  <p>There is {{ context.players_count }}/3 players connected</p>
  {% if context.lobby_is_full %}
    {% if context.can_start_game %}
      <button type="button" class="btn btn-info" hx-vals='{"action": "start_game"}' ws-send>
        Start Game
      </button>
    {% else %}
      <p>Please wait for the lobby host to start the match.</p>
    {% endif %}
  {% endif %}
  <ul>
    {% for p in context.lobby_players %}
      <li>{{ p }}</li>
    {% endfor %}
  </ul>
</div>
