<form id="word-form" ws-send autocomplete="off" class="m-0" hx-swap-oob="innerHTML">
  <div class="position-relative overflow-visible">
    <div class="input-group">
      {% if submitted %}
        <input type="hidden" name="action" value="cancel_submit" />
        <input type="text" name="word" id="word-input" class="form-control form-control-lg fw-semibold" list="word-list" placeholder="{{submitted_word_label}}" disabled/>
        <button type="submit" class="btn btn-danger px-4 fw-bold">Cancel</button>
      {% else %}
        <input type="hidden" name="action" value="submit_word" />
        <input type="text" name="word" id="word-input" class="form-control form-control-lg fw-semibold" list="word-list" placeholder="Type to search..." value="{{submitted_word_label}}"/>
        <button type="submit" class="btn btn-primary px-4 fw-bold">Confirm</button>
      {% endif %}
    </div>
  </div>
</form>
