{% extends 'fulabra_app/layout.html' %}
{% load static %}

{% block body %}
  {% include 'fulabra_app/partials/error_message.html' %}
  {% if not context.error_message %}
    <div id="error-message"></div>
    <div id="lobby-container" hx-ext="ws" ws-connect="/ws/lobby/{{ context.current_lobby.code }}/">
      <div id="game-container">
        <h2>Lobby #{{ context.current_lobby.code }}</h2>
      </div>
      <div id="lobby-controls">
        <div id="player-list"></div>
        {% if context.current_lobby.leader == user %}
          <div class="container invite-container">
            {% for f in context.user.friends.all %}
              <div class="row align-items-center mb-2 pb-2">
                <div class="col text-truncate">{{ f.username }}</div>
                <div class="col-auto">
                  <button type="button" class="invite-btn">Invite</button>
                </div>
              </div>
            {% endfor %}
          </div>
          <button id="btn-invite" class="btn btn-primary" data-invite-link="{{ context.invite }}">Copy Invite Link</button>
        {% endif %}
        <a href="{% url 'index' %}"><button class="btn btn-danger">Quit</button></a>
      </div>
    </div>
  {% endif %}

  <script>
    const inviteBtn = document.querySelector('#btn-invite')
    if (inviteBtn) {
      const originalText = inviteBtn.innerText
      inviteBtn.addEventListener('click', function () {
        navigator.clipboard.writeText(inviteBtn.dataset.inviteLink).then(function () {
          inviteBtn.innerHTML = 'Copied! ✓'
          setTimeout(function () {
            inviteBtn.innerText = originalText
          }, 1800)
        })
      })
    }
  </script>
{% endblock %}
