{% extends 'fulabra_app/layout.html' %}
{% load static %}

{% block body %}
  <h2>Lobby #{{ current_lobby.code }}</h2>
  {% include 'fulabra_app/partials/error_message.html' %}
  {% if not error_message %}
    <div id="error-message"></div>
    <div id="lobby-container" hx-ext="ws" ws-connect="/ws/lobby/{{ current_lobby.code }}/">
      <div id="lobby-controls"></div>
    </div>

    {% if current_lobby.leader == user %}
      <div class="container invite-container">
        {% for f in user.friends.all %}
          <div class="row align-items-center mb-2 pb-2">
            <div class="col text-truncate">{{ f.username }}</div>
            <div class="col-auto">
              <button type="button" class="invite-btn">Invite</button>
            </div>
          </div>
        {% endfor %}
      </div>
      <button id="btn-invite" class="btn btn-primary" data-invite-link="{{ invite }}">Copy Invite Link</button>
    {% endif %}

  {% endif %}
  <a href="{% url 'index' %}"><button class="btn btn-danger">Quit</button></a>

  <script>
    const inviteBtn = document.querySelector('#btn-invite')
    if (inviteBtn) {
      const originalText = inviteBtn.innerText
      inviteBtn.addEventListener('click', function () {
        navigator.clipboard.writeText(inviteBtn.dataset.inviteLink).then(function () {
          inviteBtn.innerHTML = 'Copied! ✓'
          setTimeout(function () {
            inviteBtn.innerText = originalText
          }, 1800)
        })
      })
    }
  </script>
{% endblock %}
