.body {
    margin: 2%;
}

.guest-form-container {
    max-width: 60%;
}

.invite-container {
    max-width: 230px;
    margin: 0px;
}

.invite-btn {
    color: blue;
    background-color: transparent;
    border: none;
}

.thick-border {
    border-width: 3px !important;
}

.preset-option {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.preset-option:hover {
    transform: scale(1.08);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

#avatarTabs .nav-link {
    border-radius: 30px;
    color: #5f6368;
    background-color: #f1f3f4;
    margin: 0 5px;
}

#avatarTabs .nav-link.active {
    background-color: #1a73e8 !important;
    color: #fff;
}

.upload-box {
    transition: border-color 0.2s ease, background-color 0.2s ease;
}

.upload-box:hover {
    border-color: #1a73e8 !important;
    background-color: #f4f8fe !important;
}


/* Dropdown foto de perfil*/
.dropdown-menu {
    min-width: 130px !important;
    padding: 0px 0 !important;
    border-radius: 0px !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
}

.dropdown-item {
    padding: 4px 6px !important;
    font-size: 13px !important;
    color: #24292e !important;
    transition: background-color 0.15s ease;
}

.dropdown-item:hover {
    background-color: #e6e6e6 !important;
    color: #000000 !important;
    cursor: pointer;
}
.word-row {
    width: 100%;
    margin: 4px;
    display: flex;
    gap: 5px;
}